#body {
	width: auto;
	height: 800px;
	border:dotted 1px red;
}
.head{
	display: block;
	width: auto;
	font-size: xx-large;
	text-align: center;
	margin-top: 25px;
	color: crimson;
}
.second{
	display: block;
	color: aqua;
	font-size:x-large;
	text-align: center;
	margin-top: 25px;
}